<h1>Edit Allowed Email</h1>

@if (errorMessage()) {
  <p class="text-danger">Error: {{ errorMessage() }}</p>
}

@if (isLoading()) {
 <p>Loading...</p>
} @else if(allowedEmail() && !editSuccess()){
  <form
    class="w-100"
    style="max-width: 320px"
    (submit)="onSubmit($event)"
  >
    <label class="form-label" for="email">Email:</label>

    <input
      class="form-control"
      id="email"
      type="email"
      [formField]="allowedEmailEditForm.email"
    />

    <div class="d-flex mt-3 justify-content-between">
      <button
      class="btn btn-primary"
      type="submit">
      Submit
      </button>

      <button class="btn btn-light" (click)="goBack()">Go Back</button>
    </div>

  </form>
}

@if (editSuccess()) {
  <p>Successfully edited the allowed email to <strong>{{ allowedEmail()?.email }}</strong></p>
  <button class="btn btn-primary" (click)="goBack()">Go Back</button>
}
