tr.double-booked td,
tr.double-booked {
  background-color: rgb(220, 53, 69, 0.5) !important; /* Bootstrap danger color */
}

.dithered,
.canceled {
  opacity: 0.5;
}

tr.checked-in td {
  background-color: rgb(25, 135, 84, 0.5);
}
