<h1>Bookings by Day</h1>

@if (errorMessage()) {
  <p class="error-message">Error: {{ errorMessage() }}</p>
}

<form
  [formGroup]="selectDayForm"
  (ngSubmit)="getBookingsByDay(this.selectDayForm.value.selectedDay?.toString())"
>
  <label for="selectedDay">Select Date:</label>
  <input type="date" id="selectedDay" name="selectedDay" formControlName="selectedDay" required />
  <button type="submit" class="button blue-button">Go to Selected Date</button>
</form>

<div class="day-nav-buttons">
  <button class="button" (click)="prevMonthBookingsByDay()">Prev Month</button>
  <button class="button" (click)="prevDayBookingsByDay()">Prev Day</button>
  <button class="button" (click)="nextDayBookingsByDay()">Next Day</button>
  <button class="button" (click)="nextMonthBookingsByDay()">Next Month</button>
</div>

@if (isLoading()) {
  <p>Loading...</p>
} @else if (bookings().length === 0) {
  <p>No bookings found for the selected date.</p>
} @else {
  <table class="styled-table">
    <thead>
      <tr>
        <th>Unit Number</th>
        <th>Created On</th>
        <th>Created By</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Guest Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Phone Number</th>
        <th>Occupants</th>
        <th>Status</th>
        <th>Notes</th>
        <th>Card Last Four</th>
      </tr>
    </thead>

    <tbody>
      @for (booking of bookings(); track $index) {
        @if (!booking.bookingId) {
          <tr
            class="no-active-booking"
            [class.multi-booking]="doubleBookedUnits().has(booking.unitNumber)"
          >
            <td>{{ booking.unitNumber }}</td>
            <td colspan="14">No active booking</td>
          </tr>
        } @else {
          <tr [class.multi-booking]="doubleBookedUnits().has(booking.unitNumber)">
            <td>{{ booking.unitNumber }}</td>
            <td>
              {{ booking.createdOn | date: 'short' }}
            </td>
            <td>{{ booking.createdByUserName ? booking.createdByUserName : '-' }}</td>
            <td>{{ booking.startDate | date }}</td>
            <td>{{ booking.endDate | date }}</td>
            <td>{{ booking.guestName }}</td>
            <td>{{ booking.address ? booking.address : '-' }}</td>
            <td>{{ booking.city ? booking.city : '-' }}</td>
            <td>{{ booking.state ? booking.state : '-' }}</td>
            <td>{{ booking.zipCode ? booking.zipCode : '-' }}</td>
            <td>{{ booking.phoneNumber ? booking.phoneNumber : '-' }}</td>
            <td>{{ booking.occupants ? booking.occupants : '-' }}</td>
            <td>{{ booking.status ? booking.status : '-' }}</td>
            <td>{{ booking.notes ? booking.notes : '-' }}</td>
            <td>{{ booking.cardLastFour ? booking.cardLastFour : '-' }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
}
